* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #444;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper nav {
  width: 100%;
  background: rgb(239, 239, 239);
  height: 60px;
}
.wrapper nav ul li {
  display: inline-block;
}
.wrapper section {
  display: flex;
  justify-content: center;
}
.wrapper section .taiwan_box {
  position: relative;
  transform: scale(0.75);
  width: 500px;
  height: 700px;
  left: 150px;
  margin-top: -40px;
}
.wrapper section .taiwan_box .district {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 60;
  display: none;
  opacity: 0;
  transition: 0.4s;
  cursor: pointer;
}
.wrapper section .taiwan_box .district.keelung {
  left: 130px;
  top: 235px;
  width: 100px;
  height: 100px;
  background-image: url("../image/keelung.svg");
  transform: scale(0.93);
  z-index: 80;
}
.wrapper section .taiwan_box .district.keelung.show {
  display: block;
}
.wrapper section .taiwan_box .district.keelung.show.active {
  opacity: 1;
}
.wrapper section .taiwan_box .district.keelung:hover {
  opacity: 0.3;
}
.wrapper section .taiwan_box .district.taipei {
  left: 17px;
  top: 225px;
  width: 150px;
  height: 150px;
  background-image: url("../image/taipei.svg");
  transform: scale(1.07);
  z-index: 80;
}
.wrapper section .taiwan_box .district.taipei.show {
  display: block;
}
.wrapper section .taiwan_box .district.taipei.show.active {
  opacity: 1;
}
.wrapper section .taiwan_box .district.taipei:hover {
  opacity: 0.3;
}
.wrapper section .taiwan_box .district.newtaipeicity {
  left: -30px;
  top: 195px;
  width: 350px;
  height: 350px;
  background-image: url("../image/newtaipeicity.svg");
  transform: scale(1.25);
}
.wrapper section .taiwan_box .district.newtaipeicity.show {
  display: block;
}
.wrapper section .taiwan_box .district.newtaipeicity.show.active {
  opacity: 1;
}
.wrapper section .taiwan_box .district.newtaipeicity:hover {
  opacity: 0.3;
}
.wrapper section .taiwan_box .district.taoyuan {
  left: -260px;
  top: 304px;
  width: 300px;
  height: 300px;
  background-image: url("../image/taoyuan.svg");
  transform: scale(1.19);
}
.wrapper section .taiwan_box .district.taoyuan.show {
  display: block;
}
.wrapper section .taiwan_box .district.taoyuan.show.active {
  opacity: 1;
}
.wrapper section .taiwan_box .district.taoyuan:hover {
  opacity: 0.3;
}
.wrapper section .taiwan_box .district.hsinchu {
  left: -310px;
  top: 415px;
  width: 300px;
  height: 300px;
  background-image: url("../image/hsinchu.svg");
  transform: scale(1.17);
}
.wrapper section .taiwan_box .district.hsinchu.show {
  display: block;
}
.wrapper section .taiwan_box .district.hsinchu.show.active {
  opacity: 1;
}
.wrapper section .taiwan_box .district.hsinchu:hover {
  opacity: 0.3;
}
.wrapper section .taiwan_box .box_set {
  position: absolute;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
}
.wrapper section .taiwan_box .tw_img {
  position: absolute;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  transition: 0.5s;
}
.wrapper section .taiwan_box .tw_img.img_click {
  transition: 1s;
}
.wrapper section .taiwan_box .tw_img.img_click.north {
  transform: scale(2.3);
  top: 300px;
  left: -130px;
}
.wrapper section .taiwan_box .tw_img.img_click.west {
  top: 300px;
  left: -110px;
  transform: scale(2.2);
}
.wrapper section .taiwan_box .tw_img.img_click.south {
  top: 380px;
  left: -130px;
  transform: scale(2.6);
}
.wrapper section .taiwan_box .tw_img.img_click.east {
  top: 330px;
  left: -140px;
  transform: scale(3.2);
}
.wrapper section .taiwan_box .tw_img.img_fade {
  opacity: 0;
  visibility: hidden;
}
.wrapper section .taiwan_box .north_box {
  width: 185px;
  height: 265px;
  left: 45px;
  top: -10px;
  transform: rotate(50deg);
  border-radius: 50%;
}
.wrapper section .taiwan_box .north_box:hover ~ .north {
  opacity: 0.8;
}
.wrapper section .taiwan_box .north {
  background-image: url("../image/north.svg");
  left: 0px;
  top: -15px;
}
.wrapper section .taiwan_box .north .north_inside_box {
  position: relative;
  left: 35px;
  width: 195px;
  height: 285px;
  transform: rotate(60deg);
  border-radius: 50%;
}
.wrapper section .taiwan_box .west_box {
  width: 285px;
  height: 235px;
  left: -160px;
  top: 255px;
  transform: rotate(-70deg);
  border-radius: 25%;
}
.wrapper section .taiwan_box .west_box:hover ~ .west {
  opacity: 0.8;
}
.wrapper section .taiwan_box .west {
  background-image: url("../image/west.svg");
  left: -172px;
  top: 208px;
  transform: scale(1.265);
  position: relative;
}
.wrapper section .taiwan_box .west .west_inside_box {
  position: relative;
  width: 285px;
  height: 280px;
  border-radius: 50%;
  left: 20px;
  top: 20px;
}
.wrapper section .taiwan_box .south_box {
  width: 405px;
  height: 185px;
  left: -300px;
  top: 630px;
  transform: rotate(85deg);
  border-radius: 15%;
}
.wrapper section .taiwan_box .south_box:hover ~ .south {
  opacity: 0.8;
}
.wrapper section .taiwan_box .south {
  background-image: url("../image/south.svg");
  left: -237px;
  top: 584.3px;
  transform: scale(1.66);
}
.wrapper section .taiwan_box .south .south_inside_box {
  width: 160px;
  height: 310px;
  position: relative;
  left: 80px;
  top: -10px;
  border-radius: 50%;
  transform: rotate(-10deg);
}
.wrapper section .taiwan_box .east_box {
  width: 745px;
  height: 115px;
  left: -250px;
  top: 470px;
  transform: rotate(-73deg);
  border-radius: 30px;
}
.wrapper section .taiwan_box .east_box:hover ~ .east {
  opacity: 0.8;
}
.wrapper section .taiwan_box .east {
  background-image: url("../image/east.svg");
  left: -22px;
  top: 343px;
  transform: scale(2.65);
}
.wrapper section .taiwan_box .east .east_inside_box {
  width: 50px;
  height: 310px;
  transform: rotate(18deg);
  position: relative;
  left: 122px;
  top: 1px;
  border-radius: 50%;
}
.wrapper section .attraction_box {
  width: 600px;
  margin-top: 110px;
  margin-left: 150px;
}
.wrapper section .attraction_box .title {
  color: #fff;
}
.wrapper section .attraction_box .title h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 32px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wrapper section .attraction_box .title hr {
  margin-top: 5px;
  width: 560px;
  transition: 0.5s;
}
.wrapper section .attraction_box .title .title_rows .attraction {
  display: inline-block;
  margin: 15px 35px 15px 0;
  margin-bottom: 30px;
  transition: 0.5s;
}
.wrapper section .attraction_box .title .title_rows .attraction .attraction_img_box {
  width: 220px;
  height: 150px;
  margin-top: 10px;
  transition: 0.5s;
}
.wrapper section .attraction_box .title .title_rows .attraction .attraction_img_box .attraction_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
  /* background-image: url("https://www.taiwan.net.tw/att/event/429235c1-f88a-4b2d-8815-8e7a041b8c7c.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper section .attraction_box .title .title_rows .attraction .attraction_name {
  margin-top: 15px;
  font-weight: 300;
  font-size: 17px;
  transition: 0.5s;
}
.wrapper section .attraction_box .title .title_rows .attraction .attraction_district {
  font-weight: 300;
  opacity: 0.7;
  transition: 0.5s;
}
.wrapper section .attraction_box .title.title_off {
  transition: 0.4s;
  margin-bottom: -50px;
}
.wrapper section .attraction_box .title.title_off h2 {
  opacity: 0.2;
}
.wrapper section .attraction_box .title.title_off hr {
  width: 110px;
  opacity: 0.4;
}
.wrapper section .attraction_box .title.title_off .title_rows .attraction {
  opacity: 0;
  visibility: hidden;
}
.wrapper section .attraction_box .title.title_off .title_rows .attraction .attraction_img_box {
  height: 1px;
}/*# sourceMappingURL=index.css.map */