*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #444
}

.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  nav{
    width: 100%;
    background: rgb(239, 239, 239);
    height: 60px;
    .logo{

    }
    ul{
      li{
        display: inline-block;
      }
    }
  }


  section{
    display: flex;
    justify-content: center;
    // align-items: center;
    .taiwan_box{
      position: relative;
      transform: scale(0.75);
      width: 500px;
      height: 700px;
      left: 150px;
      margin-top: -40px;
      .district{
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 60;
        display: none;
        opacity: 0;
        transition: 0.4s;
        cursor: pointer;
        &.keelung{
          left: 130px;
          top: 235px;
          width: 100px;
          height: 100px;
          background-image: url('../image/keelung.svg');
          transform: scale(0.93);
          z-index: 80;
          &.show{
            display: block;
            &.active{
              opacity: 1;
            }
          }
          &:hover{
            opacity: 0.3;
          }
        }
        &.taipei{
          left: 17px;
          top: 225px;
          width: 150px;
          height: 150px;
          background-image: url('../image/taipei.svg');
          transform: scale(1.07);
          z-index: 80;
          &.show{
            display: block;
            &.active{
              opacity: 1;
            }
          }
          &:hover{
            opacity: 0.3;
          }
        }
        &.newtaipeicity{
          left: -30px;
          top: 195px;
          width: 350px;
          height: 350px;
          background-image: url('../image/newtaipeicity.svg');
          transform: scale(1.25);
          &.show{
            display: block;
            &.active{
              opacity: 1;
            }
          }
          &:hover{
            opacity: 0.3;
          }
        }
        &.taoyuan{
          left: -260px;
          top: 304px;
          width: 300px;
          height: 300px;
          background-image: url('../image/taoyuan.svg');
          transform: scale(1.19);
          &.show{
            display: block;
            &.active{
              opacity: 1;
            }
          }
          &:hover{
            opacity: 0.3;
          }
        }
        &.hsinchuCounty{
          left: -310px;
          top: 415px;
          width: 300px;
          height: 300px;
          background-image: url('../image/hsinchu.svg');
          transform: scale(1.17);
          &.show{
            display: block;
            &.active{
              opacity: 1;
            }
          }
          &:hover{
            opacity: 0.3;
          }
        }
        &.miaoli{
          left: -14px;
          top: 111px;
          width: 250px;
          height: 250px;
          background-image: url('../image/miaoli.svg');
          transform: scale(1.17);
          z-index: 80;
          &.show{
            display: block;
            &.active{
              opacity: 1;
            }
          }
          &:hover{
            opacity: 0.3;
          }
        }
      }
      .box_set{
        position: absolute;
        z-index: 50;
        opacity: 0;
        cursor: pointer;
      }
      .tw_img{
        position: absolute;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.4;
        transition: 0.5s;
        &.img_click{
          transition: 1s;
          &.north{
            transform: scale(2.3);
            top: 300px;
            left: -130px;
          }
          &.west{
            top: 300px;
            left: -110px;
            transform: scale(2.2);
          }
          &.south{
            top: 380px;
            left: -130px;
            transform: scale(2.6);
          }
          &.east{
            top: 330px;
            left: -140px;
            transform: scale(3.2);
          }
        }
        &.img_fade{
          opacity: 0;
          visibility: hidden;
        }
      }
      .north_box{
        width: 185px;
        height: 265px;
        left: 45px;
        top: -10px;
        transform: rotate(50deg);
        border-radius: 50%;
        &:hover ~ .north{
          opacity: 0.8;
        }
      }
      .north{
        background-image: url('../image/north.svg');
        left: 0px;
        top: -15px;
        .north_inside_box{
          position: relative;
          left: 35px;
          width: 195px;
          height: 285px;
          transform: rotate(60deg);
          border-radius: 50%;
        }
      }
      .west_box{
        width: 285px;
        height: 235px;
        left: -160px;
        top: 255px;
        transform: rotate(-70deg);
        border-radius: 25%;
        &:hover ~ .west{
          opacity: 0.8;
        }
      }
      .west{
        background-image: url('../image/west.svg');
        left: -172px;
        top: 208px;
        transform: scale(1.265);
        position: relative;
        .west_inside_box{
          position: relative;
          width: 285px;
          height: 280px;
          border-radius: 50%;
          left: 20px;
          top: 20px;
        }
      }
      .south_box{
        width: 405px;
        height: 185px;
        left: -300px;
        top: 630px;
        transform: rotate(85deg);
        border-radius: 15%;
        &:hover ~ .south{
          opacity: 0.8;
        }
      }
      .south{
        background-image: url('../image/south.svg');
        left: -237px;
        top: 584.3px;
        transform: scale(1.66);
        .south_inside_box{
          width: 160px;
          height: 310px;
          position: relative;
          left: 80px;
          top: -10px;
          border-radius: 50%;
          transform: rotate(-10deg);
        }
      }
      .east_box{
        width: 745px;
        height: 115px;
        left: -250px;
        top: 470px;
        transform: rotate(-73deg);
        border-radius: 30px;
        &:hover ~ .east{
          opacity: 0.8;
        }
      }
      .east{
        background-image: url('../image/east.svg');
        left: -22px;
        top: 343px;
        transform: scale(2.65);
        .east_inside_box{
          width: 50px;
          height: 310px;
          transform: rotate(18deg);
          position: relative;
          left: 122px;
          top: 1px;
          border-radius: 50%;
        }
      }
    }
    .ability_outter{
      position: relative;
      .attraction_box{
        // flex: 2;
        width: 600px;
        margin-top: 110px;
        margin-left: 150px;
        transition: 0.6s;
        position: relative;
        &.big_district_out{
          opacity: 0;
          visibility: hidden;
          transform: translateX(-30px);
        }
        &.detail_box{
          position: absolute;
          opacity: 0;
          left: -30px;
          top: 0;
          visibility: hidden;
          transition: 0.6s;
          &.show{
            opacity: 1;
            visibility: visible;
            transform: translateX(30px);
          }
          .title{
            hr{
            }
            .title_rows{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              // width: 600px;
              .attraction{
                margin: 30px -10px 20px 0;

                .attraction_img_box{
                  width: 180px;
                  height: 120px;
                }
              }
            }
          }
        }
        .title{
          color: #fff;
          h2{
            display: inline-block;
            font-weight: 400;
            font-size: 32px;
            cursor: pointer;
            user-select: none;
          }
          hr{
            margin-top: 5px;
            width: 560px;
            transition: 0.5s;
          }
          .title_rows{
            .attraction{
              display: inline-block;
              margin: 15px 35px 15px 0;
              margin-bottom: 30px;
              transition: 0.5s;
              a{
                text-decoration: none;
                color: #fff;
              }
              .attraction_img_box{
                width: 220px;
                height: 150px;
                margin-top: 10px;
                transition: 0.5s;
                position: relative;
                .attraction_img{
                  width: 100%;
                  height: 100%;
                  border-radius: 10px;
                  // background-image: url('../image/picture404.svg');
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  &.found{
                    position: absolute;
                    z-index: 10;
                  }
                  &.notfound{
                    border-radius: 12px;
                    background-image: url('../image/picture404_2.svg');
                    position: absolute;
                    z-index: 5;
                    box-shadow: 2px 2px 10px rgba(#fff, 0.2);
                  }
                }
              }
              .attraction_name{
                width: 230px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; 
                margin-top: 15px;
                font-weight: 300;
                font-size: 17px;
                transition: 0.5s;
              }
              .attraction_district{
                width: 230px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; 
                font-weight: 300;
                opacity: 0.7;
                transition: 0.5s;
              }
            }
          }
          &.title_off{
            transition: 0.4s;
            margin-bottom: -50px;
            h2{
              opacity: 0.2;
            }
            hr{
              width: 110px;
              opacity: 0.4;
            }
            .title_rows{
              .attraction{
                opacity: 0;
                visibility: hidden;
                .attraction_img_box{
                  height: 1px;
                }
              }
            }
          }
          &.deyail_title_off{
            transition: 0.6s;
            margin-bottom: -50px;
            h2{
              opacity: 0;
            }
            hr{
              width: 110px;
              opacity: 0;
            }
          }
        }
      }
    }
  }
  footer{

  }
}