@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+TC:wght@100;300&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(124, 76, 13);
	background:
		linear-gradient(rgba(255, 202, 163, 0.216), white 50%),
		radial-gradient(at top, rgba(255, 163, 92, 0.034), transparent 70%);
	background-repeat: no-repeat;
	background-size: 100% 500px, 100% 200px, 100% 200px, 100% 200px;
	background-attachment: fixed, local, scroll, scroll;
}
@-webkit-keyframes AnimationName {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}
@keyframes AnimationName {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}
nav{
	height: 50px;
	/* background-color: rgb(255, 255, 255); */
}
.top{
	display: flex;
	padding-top: 50px;
	height: auto;
}
.event_info{
	padding: 0em 5em;
}
.event_category{
	font-size: 1.2em;
    color: #fff;
    background-color: #403128;
    display: inline-block;
	margin-right: 0;
	padding: 0em 1em;
    border-radius: 1.5em;
}
.event_activityName{
    border-radius: 1.5em;
	font-weight: 700; 
	margin-bottom: 1rem;
    line-height: 1.5em;
	padding-top: 0.5em;
	width: 30vw;
	font-size: 1.75em;
	letter-spacing: 0.1em;
}
.event_location{
	font-size: 0.9em;
	font-weight: 500;
	margin-bottom: 3rem;
}
.event_description{
	font-size: 1em;
	font-weight: 500;
	height: calc(100vh - 12.5vw);
	line-height: 2;
}
.event_img{
	background-color: #403128;
	width: 500vw;
	height: 80vh;
	border-radius: 2.5vw 0 0 2.5vw;
	overflow: hidden;
}
.event_img img{
	object-fit: cover;
    width: 100%;
    height: 100%;
}
.middle{
	display: flex;
	justify-content: center;
}
.middle_container{
	background-color: white;
	border-radius: 50px;
	padding-top: 6%;
	padding-bottom: 6%;
}
.more_info{
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5%;
	width: 60vw;
}
.more_info > span{
	font-size: 20px;
}
.more_img{
	width: 70%;
	border-radius: 50px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.more_img img{
	object-fit: cover;
    width: 100%;
    height: 100%;
} 
.buttom{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	padding-top: 50px;
}
.details_info{
	background-color: rgba(253, 235, 219, 0.711);
	width: 85%;
	padding-top: 1%;
	border-radius: 50px;
	padding-bottom: 1%;
}
.details_location, .details_startTime, .details_endTime, .details_organizer{
	display: flex;
	padding-left: 5vw;
}
.details_info h4{
	margin-left: 50px;
}
.back_to_list{
	display: flex;
	justify-content: center;
}
.back_to_list button{
	color: white;
	background-color: #784e35;
	border-radius: 50px;
	font-size: 20px;
	width: 15%;
	margin-bottom: 5%;
	padding: .5%;
	cursor: pointer;
	border-style: hidden;
}
.back_to_list button:hover{
	background-color: #7a5b48;
	transition: ease-in-out 0.2s;
}