<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/css/intro.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+TC:wght@100;300&display=swap" rel="stylesheet">
    <script src="/static/javascript/intro.js"></script>
	<title>5們去郊遊</title>
</head>
<body>
	<nav>
	</nav>
	<main>
		<!-- <div class="top">
			<div class="event_info">
				<div class="event_category"></div>
				<div class="event_activityName"></div>
				<div class="event_location"></div>
				<div class="event_description"></div>
			</div>
			<div class="event_img"></div>
		</div>
		<div class="middle">
			<div class="middle_container">
				<div class="more_info">
					<div class="more_img">
						<img>
					</div>
					<span></span>
				</div>
				<div class="more_info">
					<div class="more_img">
						<img>
					</div>
					<span></span>
				</div>
			</div>
		</div>
		<div class="buttom">
			<div class="details_info">
				<div class="details_location">
					<h3>活動位址</h3>
				</div>
				<div class="details_startTime">
					<h3>開始時間</h3>
				</div>
				<div class="details_endTime">
					<h3>結束時間</h3>
				</div>
				<div class="details_organizer">
					<h3>主辦單位</h3>
				</div>
			</div>
		</div>
		<div class="back_to_list">
			<button>總覽</button>
		</div> -->
	</main>
</body>
</html>
